* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.glass {
    width: 930px;
    height: 520px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    background-image: url(front.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    padding: 30px 8%;
}

.logo {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.1s ease-out;
}

nav ul li:hover {
    border-bottom: 2px solid #fff;
}

nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

/*img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px;
    transition: 0.1s ease;
}

img:hover {
    border: 2px solid #fff;
}*/

h3 {
    color: #fff;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
}

h1 {
    color: #fff;
    margin: 0 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    opacity: 0.6;

    background-image: linear-gradient(45deg, #000, #fff, #000, #fff, #000);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}
.icons a {
    text-decoration: none;
    color: #fff;
    overflow: auto;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 80px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}

.form {
    width: 300px;
    height: 500px;
   /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);*/
    position: absolute;
    top: 150px;
    left: 1200px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
    background: transparent;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #57e5a5;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #adebcd;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}
.btnn {
    width: 240px;
    height: 40px;
    background: #aaeeb7;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;

}
    .form .link {
        font-family: Arial, Helvetica, sans-serif;
        font-size : 17px;
        padding-top : 20px;
        text-align : center;
    }



.form .link a {
    text-decoration: none;
    color: #acf1c7;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}